.blue{
    background-color: rgba(0, 0, 0, 0);

}

.red{
    background-color: lightcoral;
}
.black{
    background-color: black;
    color: white;
}

.spacing{
    display: flex;
    justify-content: space-evenly;
}

body {
    font-family: 'Lato', sans-serif;
    background: url(/images/Background.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
}